.map-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: auto;
}

.map {
  display: block;
  /* width: 100%; */
  /* height: auto; */
  width: 1800px; /* for full screen view */
  height: 1800px; /* for full screen view */
  user-select: none;
  pointer-events: none;
}

.marker-container {
  position: absolute;
  transform: translate(-50%, -50%);
}

.marker-point {
  width: 40px;
  height: 40px;
  background-color: rgb(0, 51, 255);
  border-radius: 50%;
}
