.map-container {
  position: relative;
  margin: 0 auto;
}

.map {
  width: 100%;
  display: block;
}

.marker-container {
  position: absolute;
  transform: translate(-50%, -50%);
}

.marker-point {
  width: 40px;
  height: 40px;
  background-color: rgb(0, 51, 255);
  border-radius: 50%;
}
