.map-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: auto;
}

.map {
  display: block;
  /* width: 100%; */
  /* height: auto; */
  width: 1800px; /* for full screen view */
  height: 1800px; /* for full screen view */
  user-select: none;
  pointer-events: none;
}

.marker-container {
  position: absolute;
  transform: translate(-50%, -50%);
}

.marker-point {
  width: 40px;
  height: 40px;
  border: none;
  background-color: rgb(0, 51, 255);
  border-radius: 50%;
  cursor: pointer;
  position: relative;
}

.popup {
  position: absolute;
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */
  bottom: 0px;
  width: 100px;
  height: 100px;
  background-color: #edd3d8;
  border-radius: 20px;
}

.close-container {
  display: flex;
  justify-content: right;
  padding: 10px;
}

.close-btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.close-icon {
  width: 15px;
  height: 15px;
}

.popup-content {
  text-align: center;
}
